.App {
  text-align: center;
  font-style: bold;
  font-family: 'Bebas Neue', cursive !important;
}
td{
  background-color: #d0cfcf4e;
  text-align: center
}
table{
  width: 50%;
  align-items: center;
  border:none;
  font-size:large;
}
.tableGoodplace{
  color: #e6eae6;
  width: 50%;
  background-color: #00000054
  
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin: auto;
  margin-bottom: 2rem;
  padding: 50px;
  width: 80%;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  
}
.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  
}
.card__title {
  grid-row: 1/4;
  font-weight: 400;
  color: #ffffff; 
  font-size: 50px;
  background-color: #00000054;
  
}
/* RESPONSIVE */
@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
.title{
  font-size: xx-large;
  color: #2a2b2a;
}
